@use 'variables';


/* ============================================================ HEADER BLOCK ============================================================ */
.header__box {
    height: 5.5rem;
    justify-content: space-between;
    padding: 1.5rem;
}

.header__input {
    justify-content: flex-end;
    width: 50%;
    height: 100%;
}

header nav {
    justify-content: space-between;
    background-color: #f6f6f6;
}

.nav__button-wrapper {
    padding: 20px 0;
    width: 100%;
}

.nav__button {
    display: block;
    text-align: center;
    padding: 0 20px;
    width: 100%;
    height: 100%;
    border-right: 1px solid #9b9b9b;
    font-size: variables.$font-size-small;
}

.nav__button-wrapper:last-of-type .nav__button {
    border: none;
}

.header__input input {
    border: 1px solid #9b9b9b;
    color: #000;
    font-size: variables.$font-size-smaller;
    width: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 0 1rem;
}

.header__search-button {
    background-color: #538316;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.burger {
    width: 2rem;
    height: 2rem;
    display: none;
}

@media (max-width: variables.$small-screen) {

    .burger {
        display: block;
    }

    header nav {
        display: none !important;
    }

    .header__box {
        flex-direction: column;
        height: 8rem;
        justify-content: start;
        align-items: start;
        gap: 1rem;
    }

    .header__input {
        width: 100%;
        height: 40%;
    }

    .header__logo {
        height: 30%;
    }
}